body{
    font-family: 'Baloo Tammudu 2', cursive;
}
.icon{
    height: 60px;
    width: 60px;
    margin-left: 30px;
    padding-right: 420px;
}

/*Nav*/
#nav{
    background-color:#F1EBEB;
    position: fixed;
    color: black;
}
#nav ul{
    list-style: none;
    margin:0;
    padding: 0;

}
#nav ul li{
    display: inline-block;
    
}

#nav ul li a{
    text-decoration: none ;
    display: block;
    padding: 10px 29.5px;
}
#nav ul li a:hover{
    background-color: #F08F9C;
    color: black;
}
.first{
    float: right;
}

/*table*/
#table{
    width: 800px;
  margin-left: 450px;
  margin-top:100px;

}
table{
    width: 60%;
    border-collapse: collapse;
    border: solid 5px  #95A6F0;
    background-color:#F5EBF5;
}
th, td{
    padding:10px;
}
thead{
    background-color: #B6C2F5;
    text-align: left;
    border-bottom: solid 5px #95A6F0;
}
tr:nth-child(even){
    background-color:#CED6F5;
}

/*button*/
.btn{
    position: relative;
    display: inline-block;
    margin-top: 45px;
    margin-left: 650px;
    padding: 10px 25px;
    border-radius: 25px;
    border:none;
    background-color: #F2E73E;
    overflow: hidden;
    transition: 0,2s;
}
.btn:hover{
    background-color:#F9F66A;
    box-shadow: 0 0 10px #F2E73E, 0 0 40px #F2E73E,
    0 0 80px #F2E73E;
   
}
