body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-image: url('../img/foro.jpg');
    background-size: 100%;
}
.foro{
    width: 500px;
    margin-left: 30%;
    margin-top: 5%;
    background-color: #A9C2DA;
    height: 205px;
    border-radius: 10px;
}
.button{
    margin-top: 2%;
    margin-left: 40%;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
}
.button:hover{
    background-color: #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff,
    0 0 80px #ffffff;
}
.msj1{
    text-align: center;
}
#name{
    margin-left: 25%;
}
#msj2{
    margin-left:25%;
}

/*Nav*/
#nav{
    background-color:#F1EBEB;
    position: fixed;
    color: black;
}
#nav ul{
    list-style: none;
    margin:0;
    padding: 0;

}
#nav ul li{
    display: inline-block;
    
}

#nav ul li a{
    text-decoration: none ;
    display: block;
    padding: 10px 29.5px;
}
#nav ul li a:hover{
    background-color: #F08F9C;
    color: black;
}
.first{
    float: right;
}
.icon{
    height: 60px;
    width: 60px;
    margin-left: 30px;
    padding-right: 420px;
}
h1{
    font-family: 'Lobster Two', cursive;
}